@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
    line-height: 2em;
}
header{
    background-color: white;
}
header h1 {
    color: black;
    text-align: center;

}
nav{
background-color: white;
}
nav a {
    color: green;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
nav a:hover{
    color: blue;
    text-decoration: underline;
}
body{
    background-color: #2B3333;
}
main{
    background-color: white;
    min-width: 350px;
    max-width: 1050px;
    margin: auto;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}
main h1 {
    color: #00F1FF;
    font-size: 2.5em;
    background-image: linear-gradient(to right, #395455, transparent);
    text-indent: 10px;
    margin-bottom: 10px;

}
main h2 {
    font-size: 2em;
    color: #39A4AA;
    text-indent: 10px;
}
main p {
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
    margin-bottom: 10px;
}
main ol {
    list-style-position: inside;
}
main ul {
    list-style-position: inside;
}
main mark {
    color: blue;
} 
